<template>
  <div class="page-folders">
    <div class="folders-selector">
      <div class="controls">
        <icon-button outline="normal"
                     :icon="['fas', 'folder-plus']"
                     label="New folder"
                     @click.stop="startCreateFolder"
                     class="new-folder" />
      </div>
      <div class="folder-selector">
        <icon-button v-for="folder in foldersSorted"
                     class="folder-selector-item"
                     :class="[activeFolderId === folder.id ? 'active' : '']"
                     :icon="['fas', folderTypes[folder.type].icon]"
                     :key="folder.id"
                     :label="folder.label || '&lt;no label&gt;'"
                     @click="selectFolder(folder.id)" />
      </div>
    </div>
    <component
      :is="folderTypes[activeFolder.type].component"
      v-if="activeFolder"
      class="folder-config"
      v-model:config="activeFolder"
      @delete="deleteFolder"
    ></component>
    <div class="folder-config new-folder" v-else-if="newFolderClicked">
      <div class="config-head">
        <div class="label">Create new folder</div>
      </div>
      <div class="card selector" v-for="[type, info] of Object.entries(folderTypes)" @click="createFolder(type)">
        <font-awesome-icon :icon="['fas', info.icon]" class="selector-icon" />
        <span class="label">{{ info.selectorLabel }}</span>
      </div>
    </div>
    <div class="folder-config no-selection" v-else>Select a folder to edit or create a new one.</div>
  </div>
</template>

<script setup>
import { computed, ref } from 'vue';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import Environment from './environments/EnvironmentFolder.vue';
import List from './bookmark-lists/BookmarkListFolder.vue';
import IconButton from '../buttons/IconButton.vue';
import { useSettingsStore } from '../../store/settings.js';

const settingsStore = useSettingsStore();

const folderTypes = {
  environment: {
    component: Environment,
    icon: 'server',
    selectorLabel: 'Environments'
  },
  list: {
    component: List,
    icon: 'star',
    selectorLabel: 'Bookmark lists'
  }
};

const activeFolderId = ref(null);
const activeFolder = computed(() => {
  if (activeFolderId.value) {
    return settingsStore.folders.find(folder => folder.id === activeFolderId.value);
  }
});
const newFolderClicked = ref(false);

const foldersSorted = computed(() => {
  return settingsStore.folders.slice().sort((a, b) => a.order - b.order);
});

const startCreateFolder = () => {
  activeFolderId.value = null;
  newFolderClicked.value = true;
};

const createFolder = type => {
  const order = foldersSorted.value.length > 0 ? foldersSorted.value[foldersSorted.value.length - 1].order + 1 : 1;
  const folderConfig = {
    label: '',
    type,
    order,
    items: []
  };
  settingsStore.addFolder(folderConfig);
  selectFolder(folderConfig.id);
};

const selectFolder = folder => {
  if (newFolderClicked.value) newFolderClicked.value = false;
  activeFolderId.value = folder;
};

const deleteFolder = () => {
  const folderIndex = foldersSorted.value.indexOf(activeFolder.value);
  let nextFolderId = null;
  if (settingsStore.folders.length > 1) {
    const nextFolderIndex = folderIndex > 0 ? folderIndex - 1 : 1;
    nextFolderId = foldersSorted.value[nextFolderIndex].id;
  }

  settingsStore.removeFolder(activeFolderId.value);
  selectFolder(nextFolderId);
};
</script>

<style scoped lang="scss">
@mixin settings-block {
  height: calc(100vh - 49px);
  height: calc(100dvh - 49px);
  overflow: hidden auto;
}

.page-folders {
  display: flex;
  flex-direction: row;
  margin: 0 1.7rem;

  .folders-selector {
    @include settings-block;
    padding: 1.3rem .8rem 0;
    flex: 0 1 22.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .folder-selector {
      display: flex;
      flex-direction: column;
      gap: .5rem;

      .folder-selector-item {
        justify-content: flex-start;
        padding: .7rem 1rem;
        color: #555;

        :deep(> .icon) {
          flex-basis: 1.5rem;
        }

        &:hover {
          background-color: #f3f3f3;
        }

        &.active {
          background-color: #eaeaea;
        }
      }
    }

  }

  .folder-config {
    @include settings-block;
    flex: 1 1 auto;
    padding: 1.3rem .8rem 0;
    box-sizing: border-box;

    &.no-selection {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-bottom: 120px;
      font-size: 25px;
      font-weight: 300;
    }

    :deep(.config-head) {
      margin-bottom: 15px;
      display: flex;

      > .label,
      > .label .input-group input {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1;
        flex: 1 1 auto;
      }

      .controls {
        display: flex;
        align-items: center;
        flex: 0 1 auto;
        text-align: right;
        gap: .5rem;
      }
    }

    &.new-folder {
      .config-head {
        height: 45px;
        align-items: center;
      }

      .selector {
        font-size: 1.2rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;

        .selector-icon {
          flex-basis: 1.5rem;
        }
      }
    }
  }
}
</style>
