<template>
  <div class="folder">
    <div class="folder-label ns" :class="{ active: isVisible }" @click="toggle">{{ label }}
      <font-awesome-icon :icon="['fas', 'chevron-down']" class="arrow" />
    </div>
    <transition name="fade">
      <div class="folder-wrapper" v-if="isVisible">
        <component :is="folders[type]" :items="items" />
      </div>
    </transition>
  </div>
</template>

<script setup>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import EnvironmentsFolder from './environments/EnvironmentsFolder.vue';
import LinkListsFolder from './link-lists/LinkListsFolder.vue';

const props = defineProps({
  label: String,
  type: String,
  items: Array,
  isVisible: Boolean
});

const folders = {
  environment: EnvironmentsFolder,
  list: LinkListsFolder
}

const emit = defineEmits([ 'toggle-group' ]);

const toggle = () => {
  emit('toggle-group');
};
</script>

<style scoped lang="scss">
$transition-duration: 200ms;

.folder {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  z-index: 300;

  .folder-label {
    position: relative;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 7px 12px;
    font-size: 15px;
    font-weight: 500;
    color: #555;
    margin-top: 2px;
    transition: border-color $transition-duration ease;

    .arrow {
      font-size: 11px;
      margin-left: 4px;
      transform: rotate(-90deg);
      transition: transform $transition-duration ease;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: 20px;
      box-shadow: 0 3px 6px #ddd;
      transition: opacity $transition-duration ease;
    }

    &:hover {
      border-color: #eee;

      &::after {
        opacity: 1;
      }
    }

    &.active {
      @extend :hover;

      .arrow {
        transform: rotate(0deg);
      }
    }
  }

  .folder-wrapper {
    position: fixed;
    top: 67px;
    left: 0;
    right: 0;
    border: 1px solid #eee;
    margin: 0 25px;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 3px 6px #ddd;
    background: white;
  }
}

.folder-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 25px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition-duration;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
