<template>
  <div class="page-import-export">
    <div class="card">
      <div class="label">Import settings</div>
      <div class="card-body">
        <input type="file" id="file" ref="jsonInput" accept="application/json"/>
        <button @click="importSettings">Import</button>
      </div>
    </div>
    <div class="card">
      <div class="label">Export settings</div>
      <div class="card-body">
        <button @click="exportSettings">Export</button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { useSettingsStore } from '../../store/settings.js';

const settingsStore = useSettingsStore();

const jsonInput = ref(null);

const readFile = file => {
  return new Promise((resolve, reject) => {
    const fr = new FileReader();
    fr.readAsText(file);
    fr.onload = () => resolve(fr.result);
    fr.onerror = error => reject(error);
  });
}

const importSettings = async () => {
  try {
    const dump = await readFile(jsonInput.value.files[0]);
    const parsed = JSON.parse(dump);
    settingsStore.importFromDump(parsed);
  } catch (e) {
    console.error(e);
    settingsStore.setMessage('Something went wrong...');
  }
}

const exportSettings = async () => {
  const data = {
    folders: settingsStore.folders,
    quickAccess: settingsStore.quickAccess
  };

  const a = document.createElement('a');
  a.style.display = 'none';
  a.href = URL.createObjectURL(new Blob([JSON.stringify(data, null, 2)], {
    type: 'application/json'
  }));
  const now = new Date().toISOString().substring(0, 19)
      .replace('T', '.')
      .replace('Z', '')
      .replaceAll(':', '-');
  a.setAttribute('download', `start-here.export.${now}.json`);

  document.body.appendChild(a);
  a.click();
  document.body.removeChild(a);
};
</script>
