<template>
  <div class="search-bar">
    <div class="search-bar-container">
      <span class="icon">
        <font-awesome-icon :icon="['fas', 'search']" />
      </span>
      <input
        class="input"
        @input="fetchSuggestions"
        @keydown.down.prevent="runThroughSuggestions('down')"
        @keydown.up.prevent="runThroughSuggestions('up')"
        @keydown.enter.prevent="openUrl()"
        @keydown.tab.prevent="autocompleteQuery()"
        @focusin="searchBarFocused = true"
        @focusout="searchBarFocused = false"
        v-model="query"
        ref="input"
        autocomplete="off"
        type="text"
        dir="ltr"
        placeholder="Start typing environment name, link label or type !h for help"
      />
    </div>
    <transition name="fade">
      <suggestion-box v-if="suggestions.length && searchBarFocused" :suggestions="suggestions" ref="suggestionsEl" @select-suggestion="setUrl" />
    </transition>
  </div>
</template>

<script setup>
import { computed, onMounted, ref } from 'vue';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import SuggestionBox from './SuggestionBox.vue';
import searchUtil from '../../utils/searchUtil.js';

const props = defineProps({
  folders: Array
});

const query = ref('');
const suggestions = ref([]);
const selectedUrl = ref('');
const selectedQuery = ref('');
const searchBarFocused = ref(false);
const maxResults = ref(6);

const index = computed(() => {
  return searchUtil.build(props.folders);
});

const fetchSuggestions = () => {
  let results;

  if (query.value.startsWith('!')) {
    const splitIndex = query.value.indexOf(' ');
    const command = query.value.substr(1, splitIndex > 0 ? splitIndex - 1 : undefined).toLowerCase();
    const params = splitIndex > 0 ? query.value.substr(splitIndex + 1).trim() : undefined;
    switch (command) {
      case 'e':
        if (splitIndex > -1) {
          results = searchUtil.fetchResults(index.value, searchUtil.sanitizeQuery(query.value.substr(splitIndex + 1)), 'env');
        }
        break;
      case 'b':
        if (splitIndex > -1) {
          results = searchUtil.fetchResults(index.value, searchUtil.sanitizeQuery(query.value.substr(splitIndex + 1)), 'bookmark');
        }
        break;
      case 'ddg':
        if (params) {
          results = new Set([
            {
              url: `https://duckduckgo.com/?q=${params.replace(/<\/?b>/g, '')}`,
              displayName: `Search for "${params}" in DuckDuckGo`
            }
          ]);
        }
        break;
      case 'h':
        results = new Set([
          {
            url: browser.runtime.getURL('entries/help/index.html'),
            displayName: 'Open help page'
          }
        ]);
        break;
      case 's':
        results = new Set([
          {
            url: browser.runtime.getURL('entries/options/index.html'),
            displayName: 'Open settings'
          }
        ]);
        break;
      default:
        // Do nothing
        break;
    }
  } else {
    results = searchUtil.fetchResults(index.value, searchUtil.sanitizeQuery(query.value));
  }

  if (results && results.size > 0) {
    suggestions.value.splice(0, suggestions.value.length);
    suggestions.value.push(...(Array.from(results).slice(0, maxResults.value)));
  } else {
    suggestions.value.splice(0, suggestions.value.length);
    selectedUrl.value = '';
    selectedQuery.value = '';
  }
};

const suggestionsEl = ref(null);
const runThroughSuggestions = direction => {
  suggestionsEl.value.go(direction);
};

const setUrl = (url, query) => {
  selectedUrl.value = url;
  selectedQuery.value = query;
};

const openUrl = () => {
  if (selectedUrl.value) window.location = selectedUrl.value;
};

const autocompleteQuery = () => {
  if (selectedQuery.value) {
    if (query.value.startsWith('!')) {
      const splitIndex = query.value.indexOf(' ');
      const command = query.value.substr(1, splitIndex > 0 ? splitIndex - 1 : undefined).toLowerCase();
      query.value = `!${command} ${selectedQuery.value}`;
    } else {
      query.value = selectedQuery.value;
    }
  }
  fetchSuggestions();
};

const input = ref(null);
onMounted(() => {
  input.value.focus();
});
</script>

<style scoped lang="scss">
.search-bar {
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;

  $bar-height: 37px;

  .search-bar-container {
    flex: 1 1 auto;
    position: relative;
    height: $bar-height;
    margin: 0 100px;
    top: -45px;
    border-radius: $bar-height * 0.8;
    display: flex;
    align-items: center;

    .icon {
      position: absolute;
      font-size: 20px;
      left: 25px;
      color: #888;
    }

    .input {
      flex: 1 1 auto;
      border: 1px solid #ddd;
      border-radius: $bar-height * 0.8;
      box-shadow: 0 0 10px #ccc;
      outline: none;
      height: 100%;
      padding-left: 65px;
      transition: all 250ms ease;
      font-size: 16px;
      font-family: 'Roboto', Arial, sans-serif !important;
      font-weight: 400;

      &:focus {
        border-color: #c1c3ff;
        box-shadow: 0 0 10px #a7a2ff;
      }
    }
  }
}

$transition-duration: 200ms;

.fade-enter-active,
.fade-leave-active {
  transition: opacity $transition-duration;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

</style>
