<template>
  <div class="suggestion-box">
    <suggestion-item
        v-for="(suggestion, i) in suggestions"
        :key="i"
        :class="{ selected: selectedIndex === i }"
        :suggestion="suggestion"
    />
  </div>
</template>

<script setup>
import { onMounted, ref, watch } from 'vue';
import SuggestionItem from './SuggestionItem.vue';

const props = defineProps({
  suggestions: Array
});
const emit = defineEmits([ 'select-suggestion' ]);

const selectedSuggestion = ref(null);
const selectedIndex = ref(-1);

const go = direction => {
  if (direction === 'up') {
    selectedIndex.value = selectedIndex.value === 0 ? props.suggestions.length - 1 : selectedIndex.value - 1;
  } else {
    selectedIndex.value = selectedIndex.value === props.suggestions.length - 1 ? 0 : selectedIndex.value + 1;
  }

  selectedSuggestion.value = props.suggestions[selectedIndex.value];
  const query = selectedSuggestion.value.query
      ? selectedSuggestion.value.query + (selectedSuggestion.value.subquery ? ` ${selectedSuggestion.value.subquery}` : '')
      : '';
  emit('select-suggestion', selectedSuggestion.value.url, query);
};
defineExpose({ go });

const select = index => {
  selectedIndex.value = index;
  selectedSuggestion.value = props.suggestions[selectedIndex.value];
  const query = selectedSuggestion.value.query
      ? selectedSuggestion.value.query + (selectedSuggestion.value.subquery ? ` ${selectedSuggestion.value.subquery}` : '')
      : '';
  emit('select-suggestion', selectedSuggestion.value.url, query);
};

const selectFirstSuggestion = () => {
  if (props.suggestions.length) select(0);
};

watch(props.suggestions, () => {
  selectFirstSuggestion();
}, {
  deep: true
});

onMounted(() => selectFirstSuggestion());
</script>

<style scoped lang="scss">
.suggestion-box {
  position: absolute;
  top: calc(50vh - 15px);
  width: calc(100% - 274px);
  margin-left: 151px;
  border: 1px solid #ddd;
  box-shadow: 0 3px 8px -5px #a7a2ff;
}
</style>
