<template>
  <div class="suggestion-item" @click="open(suggestion)">
    <div class="display-name">{{ suggestion.displayName }}</div>
    <div class="label" v-if="suggestion.label">
      <font-awesome-icon :icon="['fas', folderTypes[suggestion.type]]" />
      <span class="type-icon btn-icon" :class="suggestion.type" />
      {{ suggestion.label }}
    </div>
  </div>
</template>

<script setup>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';

defineProps({
  suggestion: Object
});

const folderTypes = {
  environment: 'server',
  list: 'star'
};

const open = suggestion => {
  window.location = suggestion.url;
};
</script>

<style scoped lang="scss">
.suggestion-item {
  cursor: pointer;
  background: white;
  padding: 8px 15px;
  font-size: 16px;

  &:hover {
    background-color: #ddd;
  }
  &.selected {
    background-color: #e5e5e5;

    &:hover {
      background-color: #d6d6d6;
    }
  }

  .display-name {
    font-weight: 500;
  }

  .label {
    font-size: 14px;
    color: #666;
    padding-top: 4px;

    .type-icon {
      &::before {
        margin-right: 8px;
      }
    }
  }
}
</style>
