<template>
  <div class="root">
    <nav-bar
        :pages="allPages"
        :active-page="activePageLabel"
        :changes-unsaved="!settingsStore.saved"
        :message="settingsStore.message"
        @change-page="changePage"
        @save-changes="saveChanges"
    />
    <component v-if="ready" :is="activePage" class="page"></component>
  </div>
</template>

<script setup>
import { onBeforeMount, onMounted, ref, shallowRef } from 'vue';
import NavBar from './NavBar.vue';
import FoldersPage from './folders/FoldersPage.vue';
import QuickAccessPage from './quick-access/QuickAccessPage.vue';
import ImportExportPage from './import-export/ImportExportPage.vue';
import { useTitle } from '../../../shared/plugins/title.js';
import { useSettingsStore } from '../store/settings.js';

const { pageTitle } = useTitle('StartHere Settings');

const allPages = [
  {
    component: FoldersPage,
    label: 'Links'
  },
  {
    component: QuickAccessPage,
    label: 'QuickAccess'
  },
  {
    component: ImportExportPage,
    label: 'Import/Export'
  }
];
const activePage = shallowRef(FoldersPage);
const activePageLabel = pageTitle;

const changePage = label => {
  const page = allPages.find(page => page.label === label);
  activePage.value = page.component;
  activePageLabel.value = page.label;
};

const settingsStore = useSettingsStore();

const saveChanges = async () => {
  await settingsStore.persist();
};

const ready = ref(false);
onBeforeMount(async () => {
  await settingsStore.load();
  ready.value = true;
});

onMounted(() => {
  window.addEventListener('beforeunload', evt => {
    if (!settingsStore.saved) {
      console.log('You have unsaved changes!');
      evt.preventDefault();
    }
  });
  activePageLabel.value = 'Links';
});
</script>

<style lang="scss">
@use '@fontsource/roboto/latin-300.css';
@use '@fontsource/roboto/latin-400.css';
@use '@fontsource/roboto/latin-500.css';
@use '@fontsource/roboto/latin-700.css';
@use '@fontsource/roboto/cyrillic-300.css';
@use '@fontsource/roboto/cyrillic-400.css';
@use '@fontsource/roboto/cyrillic-500.css';
@use '@fontsource/roboto/cyrillic-700.css';

@use '../../../shared/styles/color-schemes' as *;
@use '../../../shared/styles/main' as *;
</style>
