<template>
  <div class="nav-bar ns">
    <div class="nav-head">StartHere <span class="subhead">Settings</span></div>
    <div class="save-area">
      <span v-if="changesUnsaved">{{ message }}</span>
      <icon-button small outline="success" label="Save" :icon="['fas', 'floppy-disk']" @click="$emit('save-changes')" :disabled="!changesUnsaved" />
    </div>
    <div class="nav-item" v-for="(page, i) in pages" :key="i" :class="{ active: page.label === activePage }" @click="changePage(page.label)">{{ page.label }}</div>
  </div>
</template>

<script setup>
import IconButton from './buttons/IconButton.vue';

const props = defineProps({
  pages: Array,
  activePage: String,
  changesUnsaved: Boolean,
  message: String
});

const emit = defineEmits(['change-page', 'save-changes']);

const changePage = label => {
  if (props.activePage !== label) {
    emit('change-page', label);
  }
};
</script>

<style scoped lang="scss">
.nav-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 15px;
  box-sizing: border-box;
  background: white;
  box-shadow: 0 1px 6px #ddd;
  border-bottom: 1px solid #d3d3d3;
  display: flex;
  align-items: center;

  .nav-head {
    display: inline-block;
    font-size: 19px;
    font-weight: 300;
    flex: 1 1 auto;
    margin-left: 25px;

    .subhead {
      font-weight: 400;
    }
  }

  .nav-item {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 200ms ease;

    &:hover {
      background-color: #f3f3f3;
    }

    &.active {
      background-color: #eaeaea;
    }
  }

  .save-area {
    margin-right: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;

    span {
      font-size: 1rem;
      color: #666;
    }
  }
}
</style>
