<template>
  <div class="btn" :class="classes">
    <slot></slot>
  </div>
</template>

<script setup>
import { computed } from 'vue';

const props = defineProps({
  small: Boolean,
  disabled: Boolean,
  outline: String,
  buttonStyle: String
});

const classes = computed(() => {
  const styles = [];
  if (props.small) {
    styles.push('btn-small');
  }
  if (props.disabled) {
    styles.push('disabled');
  }
  if (props.outline) {
    styles.push('btn-outline', `outline-${props.outline}`);
  }
  if (props.buttonStyle) {
    styles.push(...props.buttonStyle.split(' '));
  }
  return styles;
});
</script>

<style scoped lang="scss">
.btn {
  cursor: pointer;
  border: 1px solid transparent;
  transition: background-color .2s ease, color .2s ease, border-color .2s ease;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .9rem;

  // Button sizes
  border-radius: .3rem;
  font-size: 1.1rem;
  padding: .7rem 0;

  &.btn-small {
    border-radius: 1.5rem;
    font-size: .9rem;
    padding: .45rem .75rem;
    gap: .6rem;

    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1.5rem;
      transition: all .2s ease;
      box-shadow: 0 3px 6px #ddd;
    }

    &:hover {
      border-color: #eee;

      &::after {
        opacity: 1;
      }
    }
  }

  // Buttons with borders
  &.btn-outline {
    &.outline-success {
      border-color: #3ec34d;
      color: #769f30;

      &:hover {
        background-color: #3ec34d;
      }
    }
    &.outline-normal {
      border-color: #a7a2ff;
      color: #a7a2ff;

      &:hover {
        background-color: #a7a2ff;
      }
    }

    &:hover {
      color: white;
    }
  }

  &.disabled {
    border-color: #ccc !important;
    color: #ccc !important;
    cursor: default;
    pointer-events: none;
  }
}
</style>
