<template>
  <base-button :small="small" :button-style="buttonStyle" :outline="outline" :disabled="disabled">
    <span class="icon">
      <font-awesome-icon :icon="icon" v-if="icon" />
      <slot v-else></slot>
    </span>
    <span class="label" v-if="label">{{ label }}</span>
  </base-button>
</template>

<script setup>
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import BaseButton from './BaseButton.vue';

defineProps({
  label: String,
  buttonStyle: String,
  small: Boolean,
  outline: String,
  disabled: Boolean,
  icon: [String, Array]
});
</script>

<style lang="scss" scoped>
.label {
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
