<template>
  <base-button :small="small" :button-style="buttonStyle" :outline="outline" :disabled="disabled">
    {{ label }}
  </base-button>
</template>

<script setup>
import BaseButton from './BaseButton.vue';

defineProps({
  label: String,
  buttonStyle: String,
  small: Boolean,
  outline: String,
  disabled: Boolean
});
</script>
