$font-size-content: 17px !default;
$header-height: 49px !default;

.content-wrapper {
  box-sizing: border-box;
  display: flex;

  &.single-column {
    width: 100vw;
    height: calc(100vh - #{$header-height});
    overflow: hidden auto;
    background: var(--color-default-background);
    color: var(--color-default-text);

    .column-wrapper {
      width: 70vw;
      margin: 0 auto;
      font-size: $font-size-content;
    }
  }

  &.with-sidebar {
    position: absolute;
    top: $header-height;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color-sbl-sidebar-background);

    .content-column {
      display: flex;
      flex: 1;
      flex-direction: column;
      width: auto;
      min-height: -webkit-min-content;
      margin: 0;
      padding: 0 50px;
      overflow: auto;
      background: var(--color-default-background);
      color: var(--color-default-text);
      box-shadow: var(--shadow-sbl-content);
      border-left: 1px solid var(--color-default-shadowed-border);
      font-size: $font-size-content;
    }
  }
}