<template>
  <div class="root">
    <nav-bar :pages="allPages" :active-page="activePageLabel" @change-page="changePage"></nav-bar>
    <div class="content-wrapper" :class="hasSidebar ? 'with-sidebar' : 'single-column'">
      <toc-sidebar v-if="hasSidebar" :md="mdContent" />
      <div :class="hasSidebar ? 'content-column' : 'column-wrapper'">
        <vue-showdown :markdown="mdContent"
                      flavor="original"
                      class="md-custom"
                      :class="!hasSidebar ? 'no-header-fix' : ''"
                      :options="{ ...showdownOptions, noHeaderId: !hasSidebar }" />
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, onBeforeMount, ref } from 'vue';
import { VueShowdown } from 'vue-showdown';
import NavBar from './NavBar.vue';
import TocSidebar from './TocSidebar.vue';
import helpMd from '../md/help.md?raw';
import aboutMd from '../md/about.md?raw';
import { useTitle } from '../../../shared/plugins/title.js';

const { pageTitle } = useTitle('StartHere');

const showdownOptions = {
  simplifiedAutoLink: true,
  openLinksInNewWindow: true,
  ghCompatibleHeaderId: true,
  customizedHeaderId: true
};

const allPages = [
  {
    label: 'How to use',
    content: helpMd
  },
  {
    label: 'About',
    content: aboutMd
  }
];
const activePageLabel = pageTitle;
const mdContent = ref('');
const version = computed(() => {
  const manifest = browser.runtime.getManifest();
  return manifest.version_name || manifest.version;
});
const hasSidebar = computed(() => {
  return activePageLabel.value === 'How to use';
});

const changePage = page => {
  activePageLabel.value = page.label;
  mdContent.value = page.content.replace('[[VERSION]]', version.value);
};

onBeforeMount(() => {
  changePage(allPages[0]);
});
</script>

<style lang="scss">
@use '@fontsource/roboto/latin-300.css';
@use '@fontsource/roboto/latin-400.css';
@use '@fontsource/roboto/latin-500.css';
@use '@fontsource/roboto/latin-700.css';
@use '../../../shared/styles/color-schemes' as *;
@use '../../../shared/styles/main' as *;
@use '../styles/content-wrapper';

@mixin link-scroll-fix($margin-top-bottom) {
  &::before {
    display: block;
    content: ' ';
    height: $margin-top-bottom;
    margin-top: -$margin-top-bottom;
    visibility: hidden;
    pointer-events: none;
  }
}

$line-height: 1.5rem;

.md-custom {
  &:not(.no-header-fix) {
    h1 {
      @include link-scroll-fix(0.67em);
    }

    h2 {
      @include link-scroll-fix(0.83em);
    }

    h3 {
      @include link-scroll-fix(1em);
    }
  }

  h1 {
    position: relative;

    .version {
      display: inline-block;
      font-size: 0.8rem;
      background: #999;
      color: white;
      padding: 3px;
      margin-left: 5px;
      line-height: 1;
      border-radius: 3px;
      position: absolute;
      top: 0;
    }
  }

  p {
    line-height: $line-height;
  }

  ul {
    li {
      line-height: $line-height;

      &:not(:last-child) {
        padding-bottom: 8px;
      }
    }
  }

  a {
    text-decoration: none;
    color: var(--color-scl-link);

    &:hover {
      border-bottom: 1px solid;
    }
  }
}
</style>
