<template>
  <div class="nav-bar ns">
    <div class="nav-head">StartHere <span class="subhead" v-if="activePage !== 'About'">Help</span></div>
    <div class="nav-item" v-for="(page, i) in pages" :key="i" :class="{ active: page.label === activePage }" @click="changePage(page)">{{ page.label }}</div>
  </div>
</template>

<script setup>
const props = defineProps({
  pages: Array,
  activePage: String
});
const emit = defineEmits([ 'change-page' ]);

const changePage = page => {
  if (props.activePage !== page.label) {
    emit('change-page', page);
  }
};
</script>

<style scoped lang="scss">
.nav-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 0 15px;
  box-sizing: border-box;
  background: var(--color-navbar-background);
  color: var(--color-default-text);
  box-shadow: var(--shadow-navbar);
  border-bottom: 1px solid var(--color-navbar-border);
  display: flex;
  align-items: center;
  z-index: 999;

  .nav-head {
    display: inline-block;
    font-size: 19px;
    font-weight: 300;
    flex: 1 1 auto;
    margin-left: 25px;

    .subhead {
      font-weight: 400;
    }
  }

  .nav-item {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 200ms ease;

    &:hover {
      background-color: var(--color-navbar-link-hover-bg);
    }

    &.active {
      background-color: var(--color-navbar-link-active-bg);
    }
  }
}
</style>
