<template>
  <div class="toc-sidebar">
    <div class="block" v-for="el of tree">
      <div class="heading" v-if="el.heading">
        <a :href="el.heading.id">{{el.heading.label}}</a>
      </div>
      <div class="children" v-if="el.children && el.children.length">
        <div v-for="child of el.children" :class="'level-' + child.level">
          <a :href="child.id">{{child.label}}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { onBeforeMount, ref } from 'vue';

const props = defineProps({
  md: String
});

const tree = ref([]);

const buildTree = () => {
  if (!props.md) return;

  const rows = props.md.split('\n');
  let currentBlock = {};

  rows.filter(row => row.startsWith('#')).forEach(header => {
    const tag = header.substring(0, header.indexOf(' '));
    const title = header.substring(header.indexOf(' ') + 1)
        .replace(/\s?\{([^{]+?)}\s*$/, '')
        .trim();
    const customId = header.match(/\{([^{]+?)}\s*$/)[1];

    switch (tag) {
      case '#':
        if (Object.keys(currentBlock).length) {
          tree.value.push(currentBlock);
          currentBlock = {};
        }

        currentBlock.heading = {
          id: '#' + customId || convertToId(title),
          label: title
        };
        break;
      case '##':
      case '###':
      case '####':
      case '#####':
      case '######':
        const child = {
          id: '#' + customId || convertToId(title),
          label: title,
          level: tag.length
        };
        if (currentBlock.hasOwnProperty('children')) {
          currentBlock.children.push(child);
        } else {
          currentBlock.children = [child];
        }
        break;
      default:
        console.error(`Can't convert string "${header}" to id`);
        return;
    }
  });
  if (Object.keys(currentBlock).length) {
    tree.value.push(currentBlock);
  }
};

const convertToId = str => {
  return '#' + str.replace(/ /g, '-')
      .replace(/&amp;/g, '')
      .replace(/¨T/g, '')
      .replace(/¨D/g, '')
      .replace(/[&+$,\/:;=?@"#{}|^¨~\[\]`\\*)(%.!'<>]/g, '')
      .toLowerCase();
};

onBeforeMount(() => buildTree());
</script>

<style scoped lang="scss">
.toc-sidebar {
  width: 200px;
  margin: 0 33px 0 40px;
  padding-top: 24px;
  font-size: 16px;
  position: sticky;
  position: -webkit-sticky;
  align-self: flex-start;
  top: 0;

  .block {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 13px;
    }

    a {
      text-decoration: none;
      color: var(--color-sbl-sidebar-children-link);

      &:hover {
        border-bottom: 1px solid;
      }
    }

    .heading {
      margin: 0 0 10px;

      a {
        font-weight: 600;
        color: var(--color-sbl-sidebar-heading-link);
        font-size: 1.1em;
      }
    }

    .children div {
      margin: 7px 0 7px 10px;

      &.level-3 {
        font-size: 0.9rem;
        margin: 8px 0 8px 20px;
      }
    }
  }
}
</style>
