<template>
  <div class="env">
    <div class="env-head">
      <a :href="homeUrl" class="env-home">
        <font-awesome-icon :icon="['fas', 'server']" />
        {{ properties.environment }}
        <span class="env-label">{{ properties.label }}</span>
      </a>
    </div>
    <div class="folder-block env-link-block">
      <div class="folder-block-label">Common</div>
      <div class="folder-block-content">
        <a :href="objListUrl" class="top-link env-link">Object List</a>
        <a :href="midTierConfigUrl" class="top-link env-link">Mid-Tier Config</a>
        <a :href="adminConsoleUrl" class="top-link env-link">Admin Console</a>
        <a :href="objReservationUrl" class="top-link env-link" v-if="properties.objectReservation">Object Reservation</a>
        <a :href="properties.arinsideRoot" class="top-link env-link" v-if="properties.arinsideRoot">ARInside</a>
      </div>
    </div>
    <div class="folder-block env-link-block" v-if="properties.selectedSchemas">
      <div class="folder-block-label">Forms</div>
      <div class="folder-block-content">
        <a
          v-for="schema in properties.selectedSchemas"
          :href="arsLinksConstructor.constructSchemaLink(properties.url, properties.alias, schema.schemaName)"
          class="top-link env-link"
          :key="schema.label"
          >{{ schema.label }}</a>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed } from 'vue';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import arsLinksConstructor from '../../../../utils/arsLinksConstructor.js';

const props = defineProps({
  properties: Object
});

const homeUrl = computed(() => {
  return arsLinksConstructor.constructHomeLink(props.properties.url);
});
const objListUrl = computed(() => {
  return arsLinksConstructor.constructObjListLink(props.properties.url, props.properties.alias);
});
const midTierConfigUrl = computed(() => {
  return arsLinksConstructor.constructMidTierConfigLink(props.properties.url);
});
const adminConsoleUrl = computed(() => {
  return arsLinksConstructor.constructAdminConsoleLink(props.properties.url, props.properties.alias);
});
const objReservationUrl = computed(() => {
  return arsLinksConstructor.constructObjReservationLink(props.properties.url, props.properties.alias);
});
</script>

<style scoped lang="scss">
.env {
  display: inline-block;

  .env-link-block:not(:last-child) {
    margin-bottom: 25px;
  }

  .env-head {
    &:hover {
      // TODO
    }

    &:not(:last-child) {
      @extend .env-link-block, :not(:last-child);
      font-size: 25px;

      .env-home {
        text-decoration: none;
        font-weight: 600;
        color: #818ad8;
        letter-spacing: 1px;

        .fa-server {
          margin-right: 9px;
        }
      }

      .env-label {
        margin-left: 15px;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #999;
        font-weight: 700;
      }
    }
  }
}
</style>
