<template>
  <div class="folder-grid">
    <environment v-for="env in items" :key="env.environment" :properties="env"></environment>
  </div>
</template>

<script setup>
import Environment from './Environment.vue';

defineProps({
  items: Array
});
</script>
