@use 'color-schemes/light';
@use 'color-schemes/dark';
@use 'sass:map';

/*
 * Abbreviations:
 * - scl - single-column layout
 * - sbl - sidebar layout
 */
@mixin apply-scheme($scheme) {
  // General
  --color-default-background: #{map.get($scheme, 'background')};
  --color-default-text: #{map.get($scheme, 'text')};
  --color-default-shadowed-border: #{map.get($scheme, 'default-shadowed-border')};

  // Navbar
  --color-navbar-background: #{map.get($scheme, 'navbar-background')};
  --color-navbar-border: #{map.get($scheme, 'navbar-border')};
  --shadow-navbar: #{map.get($scheme, 'navbar-shadow')};
  --color-navbar-link-hover-bg: #{map.get($scheme, 'navbar-link-hover-background')};
  --color-navbar-link-active-bg: #{map.get($scheme, 'navbar-link-active-background')};

  // Single-column layout
  --color-scl-link: #{map.get($scheme, 'scl-link')};

  // Sidebar layout
  --color-sbl-sidebar-heading-link: #{map.get($scheme, 'sbl-sidebar-heading-link')};
  --color-sbl-sidebar-children-link: #{map.get($scheme, 'sbl-sidebar-children-link')};
  --color-sbl-sidebar-background: #{map.get($scheme, 'sbl-sidebar-background')};
  --shadow-sbl-content: #{map.get($scheme, 'sbl-content-shadow')};
}

.root {
  @include apply-scheme(light.$scheme);

  &.dark-scheme-fixed {
    @include apply-scheme(dark.$scheme);
  }

  @media (prefers-color-scheme: dark) {
    &.dark-scheme-auto {
      @include apply-scheme(dark.$scheme);
    }
  }
}

