input {
  font-family: 'Roboto', 'Segoe UI', Arial, sans-serif;
}

body {
  @extend input;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 12px;
}

.root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.link {
  cursor: pointer;
  border-bottom: 1px solid;
}

.ns {
  -webkit-user-select: none;
  user-select: none;
}

// Containers
.card {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 2px 11px rgba(0, 0, 0, 0.1);
}

// Inputs
.input-group {
  display: inline-block;
}

.input-group:not(.input-group-nolabel) label {
  display: block;
  font-size: 15px;
  padding-left: 5px;
  margin-bottom: 6px;
  color: #777;
  font-weight: 500;
}

.input-group:not(.input-group-nolabel) input[type="text"] {
  padding: 5px 8px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 18px;
  outline: none;
  position: relative;
  transition: all 250ms ease;
  font-weight: 300;
  width: 100%;
  box-sizing: border-box;

  &:hover {
    border-color: #bbb;
  }

  &:focus {
    border-color: #c1c3ff;
    box-shadow: 0 0 5px #a7a2ff;
  }
}

.row:not(:last-child) {
  margin-bottom: 15px;
}

// Checkbox
label.checkbox {
  display: inline-block !important;
  padding-left: 5px;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;

    &:checked + .checkbox__text:before {
      background: rgb(185, 175, 245);
    }

    &:checked + .checkbox__text:after {
      left: 18px;
    }

    &:focus + .checkbox__text:before {
      border-color: rgb(152, 139, 230) !important;
      box-shadow: inset 0 2px 3px rgba(0,0,0,.2), 0 0 3px 1px rgba(109, 64, 210, 0.4);
    }
  }

  .checkbox__text {
    position: relative;
    padding: 0 0 0 50px;
    cursor: pointer;
    font-size: 15px;

    &:before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 37px;
      height: 21px;
      border-radius: 13px;
      background: #CDD1DA;
      box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
      transition: .2s;
    }

    &:after {
      content: '';
      position: absolute;
      top: 1px;
      left: 2px;
      width: 17px;
      height: 17px;
      border-radius: 10px;
      background: #FFF;
      box-shadow: 0 2px 5px rgba(0,0,0,.3);
      transition: .2s;
    }
  }
}

// Tables (as mixin)
@mixin table-grid($columns-template, $gap: 5px) {
  .table {
    display: flex;
    gap: $gap;
    flex-direction: column;

    .table-head,
    .table-row {
      display: grid;
      grid-template-columns: $columns-template;
      gap: $gap;
    }

    .table-head .col-head {
      font-size: 1.3em;
      font-weight: 500;
      color: #999;
    }
  }
}

// Accordion
.accordion {
  .header {
    display: flex;
    gap: 15px;
    align-items: center;

    .arrow {
      display: inline-block;
      transition: transform .3s ease;
      font-size: 20px;
      margin-left: 5px;

      &.rotated {
        transform: rotate(90deg);
      }
    }

    .label {
      flex: 1 1 auto;
      font-size: 18px;

      &, input {
        font-weight: 500 !important;
      }
    }

    .buttons {
      display: flex;
    }
  }
}
