<template>
  <div class="page-quick-access">
    <input type="file" id="pic" ref="picInput" />
    <button @click="setPicture">Convert to base64</button>

    {{ b64 }}
  </div>
</template>

<script setup>
import { ref } from 'vue';

const b64 = ref('');
const picInput = ref(null);

const setPicture = async () => {
  const toBase64 = file =>
      new Promise((resolve, reject) => {
        const fr = new FileReader();
        fr.readAsDataURL(file);
        fr.onload = () => resolve(fr.result);
        fr.onerror = error => reject(error);
      });
  b64.value = await toBase64(picInput.value.files[0]);
};
</script>
