<template>
  <div class="folder-grid">
    <link-list v-for="list in items" :key="list.label" :label="list.label" :links="list.links"></link-list>
  </div>
</template>

<script setup>
import LinkList from './LinkList.vue';

defineProps({
  items: Array
});
</script>
