<template>
  <div class="folder-block link-list">
    <div class="folder-block-label">{{ label }}</div>
    <div class="folder-block-content">
      <a class="top-link" v-for="(link, index) in links" :href="link.url" :key="label + '_' + index">{{ link.label }}</a>
    </div>
  </div>
</template>

<script setup>
defineProps({
  label: String,
  links: Array
});
</script>
