<template>
  <div>
    <transition name="slide-fade">
      <div class="qa-label" v-if="label">{{ label }}</div>
    </transition>
    <div class="qa-links-wrapper">
      <a
        v-for="(link, index) in config"
        :href="link.url"
        :style="{
          'background-image': link.icon.substring(0, 10) === 'data:image' ? 'url(' + link.icon + ')' : ''
        }"
        @mouseover="changeLabel(link.label)"
        @mouseleave="changeLabel()"
        class="qa-link"
        :class="{
          [link.icon]: link.icon.substring(0, 10) !== 'data:image' && link.icon ? link.icon : '',
          dim: label && label !== link.label,
          'svg-mask': link.icon.substring(0, 10) === 'data:image'
        }"
        :key="index"
      ></a>
    </div>
  </div>
</template>

<script setup>
import { ref } from 'vue';

let timer;

const props = defineProps({
  config: Object
});

const label = ref('');

const changeLabel = newLabel => {
  if (!newLabel) {
    timer = setTimeout(() => {
      label.value = '';
    }, 300);
  } else {
    if (timer) {
      clearTimeout(timer);
      timer = null;
    }
    label.value = newLabel;
  }
};
</script>

<style scoped lang="scss">
$transition-duration: 200ms;
$color: #555;

.qa-links-wrapper {
  $size: 23px;
  display: inline-block;

  .qa-link {
    position: relative;
    z-index: 300;
    display: inline-block;
    width: $size;
    height: $size;
    margin-left: 10px;
    padding: 7px;
    border: 1px solid transparent;
    border-radius: $size * 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    font-size: $size;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    color: $color;
    transition: all $transition-duration ease;

    &.svg-mask {
      backdrop-filter: grayscale(100%);
    }

    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: $size * 0.8;
      transition: all $transition-duration ease;
      box-shadow: 0 3px 6px #ddd;
    }

    &:hover {
      border-color: #eee;

      &::after {
        opacity: 1;
      }
    }

    &.dim {
      opacity: 0.3;
    }
  }
}

.qa-label {
  display: inline-block;
  position: relative;
  left: -5px;
  font-size: 13px;
  font-weight: 400;
  color: $color;
  text-align: right;
}

.slide-fade-enter-active {
  transition: all $transition-duration ease;
}

.slide-fade-leave-active {
  transition: all $transition-duration ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(10px);
  opacity: 0;
}
</style>
