<template>
  <div class="top-bar">
    <div class="links-wrap">
      <folder-wrapper
        v-for="folder in config.folders"
        @toggle-group="changeVisibleFolder(folder.label)"
        :label="folder.label"
        :key="folder.id"
        :type="folder.type"
        :items="folder.items"
        :is-visible="folder.visible"
      />
      <div class="background-blocker" v-if="visibleFolder" @click="changeVisibleFolder"></div>
    </div>
    <quick-access class="quick-access" :config="config.quickAccess"></quick-access>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import FolderWrapper from './folders/FolderWrapper.vue';
import QuickAccess from './quick-access/QuickAccess.vue';

const props = defineProps({
  config: Object
});

const visibleFolder = ref('');

const changeVisibleFolder = toggledFolder => {
  const toggledFolderIndex = props.config.folders.map(folder => folder.label).indexOf(toggledFolder);
  if (visibleFolder.value) {
    const visibleFolderIndex = props.config.folders.map(folder => folder.label).indexOf(visibleFolder.value);
    if (toggledFolderIndex === -1 && visibleFolderIndex >= 0) {
      props.config.folders[visibleFolderIndex].visible = false;
      visibleFolder.value = '';
    } else if (toggledFolderIndex === visibleFolderIndex) {
      props.config.folders[toggledFolderIndex].visible = false;
      visibleFolder.value = '';
    } else {
      props.config.folders[visibleFolderIndex].visible = false;
      props.config.folders[toggledFolderIndex].visible = true;
      visibleFolder.value = toggledFolder;
    }
  } else {
    props.config.folders[toggledFolderIndex].visible = true;
    visibleFolder.value = toggledFolder;
  }
};
</script>

<style scoped lang="scss">
@mixin top-bar-block {
  display: inline-block;
  position: absolute;
}

$padding: 25px;

.top-bar {
  flex: 0 1 40px;
  padding: 15px 0;

  .links-wrap {
    @include top-bar-block;
    left: $padding;
  }

  .quick-access {
    @include top-bar-block;
    right: $padding;
  }

  :deep(.folder-block) {
    .folder-block-label {
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: #999;
      font-weight: 500;
      margin-bottom: 7px;
    }

    .folder-block-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 7px;
    }

    .top-link {
      text-decoration: none;
      font-size: 20px;
      color: #4035fb;
      font-weight: 300;
      padding: 5px 10px;
      position: relative;
      left: -10px;
      border-radius: 5px;

      &:hover {
        background-color: #eee;
      }
    }
  }
}

.background-blocker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 100;
}
</style>
