<template>
  <div class="bookmark-list card accordion">
    <div class="header" @click="toggleAccordion">
      <div class="arrow" :class="collapsed ? '' : 'rotated'">
        <font-awesome-icon :icon="['fas', 'caret-right']" />
      </div>
      <div class="label" v-if="!labelInputDisplayed">{{ config.label || '&lt;no label&gt;' }}</div>
      <div v-else class="label input-group">
        <input type="text" v-model.trim="config.label" placeholder="List label" @click.stop>
      </div>
      <div class="buttons">
        <icon-button small :icon="['fas', 'pen-to-square']" @click.stop="toggleRename" />
        <icon-button small :icon="['fas', 'circle-plus']" @click.stop="addBookmark" />
        <icon-button small :icon="['fas', 'trash-can']" @click.stop="deleteList" />
      </div>
    </div>
    <div class="bookmarks table" v-if="!collapsed">
      <div class="table-head">
        <div class="col-head">Label</div>
        <div class="col-head">URL</div>
      </div>
      <div v-for="(link, i) in config.links" class="bookmark table-row" :key="i">
        <div class="input-group">
          <input type="text" :id="'link-' + i + '-label'" v-model.trim="link.label" placeholder="required" />
        </div>
        <div class="input-group">
          <input type="text" :id="'link-' + i + '-url'" v-model.trim="link.url" placeholder="required" />
        </div>
        <icon-button small :icon="['fas', 'circle-xmark']" @click.stop="deleteBookmark(i)" />
      </div>
    </div>
  </div>
</template>

<script setup>
import { onBeforeMount, ref } from 'vue';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import IconButton from '../../buttons/IconButton.vue';

const props = defineProps({
  config: Object
});
const emit = defineEmits([ 'delete' ]);

const labelInputDisplayed = ref(false);
const collapsed = ref(true);

const toggleAccordion = () => {
  collapsed.value = !collapsed.value;
};

const toggleRename = () => {
  labelInputDisplayed.value = !labelInputDisplayed.value;
};

const addBookmark = () => {
  if (collapsed.value) {
    toggleAccordion();
  }
  props.config.links.push({
    label: '',
    url: ''
  });
};

const deleteBookmark = i => {
  props.config.links.splice(i, 1);
  if (props.config.links.length === 0) {
    addBookmark();
  }
};

const deleteList = () => {
  emit('delete', props.config);
};

onBeforeMount(() => {
  if (!props.config.label) {
    labelInputDisplayed.value = true;
    collapsed.value = false;
  }
  if (props.config.links.length === 0) {
    addBookmark();
  }
});
</script>

<style scoped lang="scss">
@use '../../../../../shared/styles/main';

@include main.table-grid(2fr 3fr 50px);

.bookmarks {
  margin-top: 15px;
}
</style>
