<template>
  <div class="list">
    <div class="config-head">
      <div class="label">
        <div class="input-group">
          <input type="text" id="env-label" v-model.trim="config.label" placeholder="Label" />
        </div>
      </div>
      <div class="controls">
        <icon-button small outline="success" :icon="['fas', 'add']" label="Add list" @click="addNewList" />
        <icon-button small :icon="['fas', 'trash-can']" label="Delete" @click="deleteFolder" />
      </div>
    </div>
    <bookmark-list v-for="(item, i) in config.items" :key="keys[i]" :config="item" @delete="deleteList" />
  </div>
</template>

<script setup>
import { onBeforeMount, ref } from 'vue';
import BookmarkList from './BookmarkList.vue';
import IconButton from '../../buttons/IconButton.vue';

const props = defineProps({
  config: Object
});
const emit = defineEmits([ 'delete' ]);

const keys = ref([]);

const addNewList = () => {
  const oldKey = keys.value[keys.value.length - 1] >= 0 ? keys.value[keys.value.length - 1] : 0;
  keys.value.push(oldKey + 1);
  props.config.items.push({
    label: '',
    links: []
  });
};

const deleteList = listConfig => {
  const index = props.config.items.indexOf(listConfig);
  props.config.items.splice(index, 1);
  keys.value.splice(index, 1);
  if (props.config.items.length === 0) {
    addNewList();
  }
};

const deleteFolder = () => {
  emit('delete');
};

onBeforeMount(() => {
  if (props.config.items.length === 0) {
    addNewList();
  }
  props.config.items.forEach((item, i) => {
    keys.value.push(i);
  });
});
</script>
