<template>
  <div class="env-item card accordion">
    <div class="header" @click="toggleAccordion">
      <div class="arrow" :class="collapsed ? '' : 'rotated'">
        <font-awesome-icon :icon="['fas', 'caret-right']" />
      </div>
      <div class="label" v-if="!labelInputDisplayed">{{ fullLabel }}</div>
      <div v-else class="label edit">
        <div class="input-group">
          <input type="text" v-model.trim="environment.environment" placeholder="Name" @click.stop>
        </div>
        <div class="input-group extend">
          <input type="text" v-model.trim="environment.label" placeholder="Label" @click.stop>
        </div>
      </div>
      <div class="buttons">
        <icon-button small :icon="['fas', 'pen-to-square']" @click.stop="toggleRename" />
        <icon-button small :icon="['fas', 'trash-can']" @click.stop="deleteEnvironment" />
      </div>
    </div>
    <div class="config" v-if="!collapsed">
      <div class="row">
        <div class="input-group">
          <label :for="environment.environment + '-url'">URL</label>
          <input type="text" :id="environment.environment + '-url'" v-model.trim="environment.url" placeholder="required" />
        </div>
        <div class="input-group">
          <label :for="environment.environment + '-alias'">Alias</label>
          <input type="text" :id="environment.environment + '-alias'" v-model.trim="environment.alias" placeholder="required" />
        </div>
        <div class="input-group">
          <label :for="environment.environment + '-arinside'">ARInside root</label>
          <input type="text" :id="environment.environment + '-arinside'" v-model.trim="environment.arinsideRoot" placeholder="optional" />
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <label :for="environment.environment + '-obj-reservation'" class="checkbox">
            <input type="checkbox" :id="environment.environment + '-obj-reservation'" v-model="environment.objectReservation" />
            <div class="checkbox__text ns">
              Object reservation enabled
            </div>
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { computed, onBeforeMount, ref } from 'vue';
import { FontAwesomeIcon } from '@fortawesome/vue-fontawesome';
import IconButton from '../../buttons/IconButton.vue';

const props = defineProps({
  environment: Object
});
const emit = defineEmits([ 'delete' ]);

const labelInputDisplayed = ref(false);
const collapsed = ref(true);
const fullLabel = computed(() => {
  return `${props.environment.environment || '<no name>'} / ${props.environment.label || '<no label>'}`;
});

const toggleAccordion = () => {
  collapsed.value = !collapsed.value;
};

const toggleRename = () => {
  labelInputDisplayed.value = !labelInputDisplayed.value;
};

const deleteEnvironment = () => {
  emit('delete', props.environment);
};

onBeforeMount(() => {
  if (!props.environment.environment || !props.environment.label) {
    labelInputDisplayed.value = true;
    collapsed.value = false;
  }
});
</script>

<style scoped lang="scss">
.env-item {
  .label.edit {
    display: flex;
    gap: 15px;

    .extend {
      flex: 1 1 auto;
    }
  }

  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
  }

  .config {
    margin-top: 15px;
  }
}
</style>
