<template>
  <div class="environment">
    <div class="config-head">
      <div class="label">
        <div class="input-group">
          <input type="text" id="env-label" v-model.trim="config.label" placeholder="Label" />
        </div>
      </div>
      <div class="controls">
        <icon-button small outline="success" :icon="['fas', 'add']" label="Add environment" @click="addNewEnvironment" />
        <icon-button small :icon="['fas', 'trash-can']" label="Delete" @click="deleteFolder" />
      </div>
    </div>
    <environment v-for="(item, i) in config.items" :key="keys[i]" :environment="item" @delete="deleteEnvironment"></environment>
  </div>
</template>

<script setup>
import { onBeforeMount, ref } from 'vue';
import Environment from './Environment.vue';
import IconButton from '../../buttons/IconButton.vue';

const props = defineProps({
  config: Object
});
const emit = defineEmits([ 'delete' ]);

const keys = ref([]);

const addNewEnvironment = () => {
  const oldKey = keys.value[keys.value.length - 1] >= 0 ? keys.value[keys.value.length - 1] : 0;
  keys.value.push(oldKey + 1);
  props.config.items.push({
    environment: '',
    label: '',
    url: '',
    alias: '',
    arinsideRoot: '',
    objectReservation: false,
    selectedSchemas: []
  });
};

const deleteEnvironment = envConfig => {
  const index = props.config.items.indexOf(envConfig);
  props.config.items.splice(index, 1);
  keys.value.splice(index, 1);
  if (props.config.items.length === 0) {
    addNewEnvironment();
  }
};

const deleteFolder = () => {
  emit('delete');
};

onBeforeMount(() => {
  if (props.config.items.length === 0) {
    addNewEnvironment();
  }
  props.config.items.forEach((item, i) => {
    keys.value.push(i);
  });
});
</script>
