<template>
  <footer>
    <div class="col left">
      <span @click="openOptionsPage" class="link footer-link">Settings</span>
    </div>
    <div class="col right">
      <span>Version {{ version }}</span>
    </div>
  </footer>
</template>

<script setup>
import { computed } from 'vue';

const version = computed(() => {
  const manifest = browser.runtime.getManifest();
  return manifest.version_name || manifest.version;
});

const openOptionsPage = () => {
  if (browser.runtime.openOptionsPage) {
    browser.runtime.openOptionsPage();
  } else {
    window.open(browser.runtime.getURL('entries/options/index.html'));
  }
};
</script>

<style scoped lang="scss">
$link-color: #999;

footer {
  flex: 0 1 20px;
  padding: 15px 25px;
  color: $link-color;
  display: flex;
  flex-direction: row;

  .footer-link {
    border-bottom-color: $link-color;
  }

  .col {
    flex: auto;

    &:last-child {
      text-align: right;
    }
  }
}
</style>
