<template>
  <div class="root">
    <top-bar :config="config"></top-bar>
    <search-bar :folders="config.folders"></search-bar>
    <app-footer></app-footer>
  </div>
</template>

<script setup>
import { inject, onBeforeMount, ref } from 'vue';
import TopBar from './top-bar/TopBar.vue';
import SearchBar from './search-bar/SearchBar.vue';
import AppFooter from './Footer.vue';

import localStorage from '../utils/localStorage.js';

const $configKey = inject('$configKey');
const config = ref({
  folders: [],
  quickAccess: []
});

const validateConfig = cfg => Object.keys(config.value).every(item => Object.keys(cfg).includes(item))
    && cfg.folders.constructor === Array
    && cfg.quickAccess.constructor === Array;

onBeforeMount(() => {
  localStorage.get($configKey)
      .then(res => {
        if (res && res.constructor === Object && Object.keys(res).length !== 0) {
          let prepConfig = {};

          if (validateConfig(res)) {
            prepConfig = res;
          } else {
            prepConfig.folders = (res.hasOwnProperty('folders') && res.folders.constructor === Array)
                ? res.folders
                : config.value.folders;
            prepConfig.quickAccess = (res.hasOwnProperty('quickAccess') && res.quickAccess.constructor === Array)
                ? res.quickAccess
                : config.value.quickAccess;
            localStorage.set($configKey, prepConfig);
          }

          config.value = prepConfig;
        } else {
          localStorage.set($configKey, config.value);
        }
      })
      .catch(e => {
        console.error('Can\'t retrieve configuration:', e);
      });
});
</script>

<style lang="scss">
@use '@fontsource/roboto/latin-300.css';
@use '@fontsource/roboto/latin-400.css';
@use '@fontsource/roboto/latin-500.css';
@use '@fontsource/roboto/latin-700.css';
@use '@fontsource/roboto/cyrillic-300.css';
@use '@fontsource/roboto/cyrillic-400.css';
@use '@fontsource/roboto/cyrillic-500.css';
@use '@fontsource/roboto/cyrillic-700.css';

@use '../../../shared/styles/color-schemes' as *;
@use '../../../shared/styles/main' as *;
</style>
